.slide {
    position: relative;
}

.carousel-img {
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 1rem;
}

.carousel-container {
    height: 100vmin;
    padding: 0.2rem;
    display: flex;
    background-color: black;
    border-radius: 1rem;
    justify-content: center;
}

.carousel-btn-groups {
    position: absolute;
    width: 100%;
    bottom: 0%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
}

.carousel-title {
    position: absolute;
    width: 100%;
    top: 100px;
}

.legend {
    color: black;
}

.carousel-outer-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 800px;
}