.home {
    display: flex;
    flex-direction: column;
}

.small-text {
    font-size: 3vmin;
    font-weight: bold;
}

.line-right {
    width: .8vmin;
    height: 100%;
    background-color: black;
}

.right-line-container {
    display: flex; 
    justify-content: flex-start;
}

.text-at-the-end {
    text-align: end;
}

.hide-span-to-animate {
    visibility: hidden;
}

.left-line-container {
    display: flex; 
    justify-content: flex-end;
}

.line-left {
    width: .8vmin;
    height: 100%;
    background-color: black;
}

.header,
.about,
.projects,
.contact {
    position: relative;
    padding: 1rem;
}


.header::before {
    content: '';
    background-color: var(--white);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .08;
}

.home-title-big {
    font-size: var(--super-big-texts);
}
.home-title {
    font-size: var(--medium-texts);
    display: flex;
    text-align: center;
}

.home-title-animated {
    font-size: var(--medium-texts);
    display: flex;
    text-align: center;
    background-color: red;
    max-width: max-content;
    width: 0;
    overflow: hidden;
}

.header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(white 0%, pink 80%, rgb(255, 166, 181) 100%);
    background-size: cover;
}

.typing-erase {
    /* background-color: red; */
    display: flex;
    max-width: max-content;
    width: 100%;
    overflow: hidden;
    border-right: 1px solid black;
    animation: erase 4s steps(50, end) infinite, blinkCaret .5s step-end infinite;
}
  
@keyframes hide {
    0% { opacity: 1 }
    /* 50% { width: 100% } */
    100% { opacity: 0 }
}

/* The type and erase effect */
@keyframes erase {
    0% { width: 100 }
    40% { width: 0% }
    90%, 100% { width: 100 }
  }

  /* The typewriter cursor effect */
@keyframes blinkCaret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

/* header */
.header {
    display: flex;
    background-color: var(--white);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    flex-direction: column;
    /* z-index: 1; */
}

.text-center-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.header-title {
    padding: .5rem;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.thin-hr-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.thin-hr {
    width: 100%;
    height: 2px;
    background-color: black;
    background: linear-gradient(to right, var(--red) 0%, white 100%);
    max-width: 55vmin;
    position: relative;
}

/* .thin-hr::before {
    content: '';
    background-image: url('../imgs/rose.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 300px;
    /* right: 0;rgb(255, 166, 181)
    top: -2vmax; */


.header-h2 {
    font-size: var(--medium-texts);
    width: 100%;
    white-space: pre;
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-end;
}

img[alt]:after {  
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: 'Helvetica';
    font-weight: 300;
    line-height: 2;  
    text-align: center;
    content: attr(alt);
}

.text-box-1 {
    display: grid;
    grid-template-columns: 10fr .5fr;
    z-index: 1;
}

.text-box-2 {
    display: grid;
    grid-template-columns: .5fr 10fr;
    z-index: 1;
}

/* about */

@media only screen and (min-width: 800px) {
    .about::before {
        clip-path: polygon(50% 0%, 83% 12%, 95% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 5% 44%, 17% 12%);
    }
}

@media only screen and (max-width: 800px) {
    .about::before {
        clip-path: polygon(49% 5%, 83% 12%, 100% 43%, 94% 78%, 68% 92%, 30% 92%, 6% 78%, 0% 43%, 17% 12%);      
    }
}

.about-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.about {
    background-color: pink;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(255, 166, 181) 0%, rgb(255, 121, 143) 50%,  rgb(255, 100, 126) 100%);
    background-size: cover;
}

/* .about::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--white);
} */

.translateX {
    animation: translatesX 1s forwards ease-in-out;
}

.translateX-last {
    animation: translatesX-last 1s forwards ease-in-out;
}

@keyframes translatesX {
    0% {
        /* transform: scale(1); */
        transform: translate(-100vw);
        visibility: visible;
    }
    50% {
        /* transform: scale(1.2); */
    }
    100% {
        /* transform: scale(1); */
        transform: translate(0px);
        visibility: visible;
    }
}

@keyframes translatesX-last {
    0% {
        /* transform: scale(1); */
        transform: translate(-100vw);
        visibility: visible;
    }
    50% {
        /* transform: scale(1.2); */
    }
    90% {
        transform: translate(10px) rotateZ(15deg);
    }
    100% {
        /* transform: scale(1); */
        transform: translate(0px);
        visibility: visible;
    }
}

@keyframes scales {
    0% {
        transform: scale(1);
        color: rgb(0, 0, 0);
    }
    1% {
        transform: scale(1.2);
        color: rgba(255, 0, 255, 0.184);
    }
    2% {
        transform: scale(1);
        color: rgb(0, 0, 0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shake {
    25% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(-15deg);
    }
    75% {
        transform: rotateZ(15deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes rotate {
    from {
        transform:translate3d(0,0,0);
        visibility: visible;
    }
    to {
        transform:translate3d(0, -25%,0);
        visibility: visible;
    }
}

.shakeLetter {
    animation: shake 1s forwards ease-in-out;
}

.rotate {
    animation: rotate 2s forwards ease-in-out infinite;
}

.super-big-letters-about {
    position: absolute;
    top: -35vmin;
    font-size: 50vmin;
    left: -20vmin;
    color: rgba(232, 164, 172, 0.5);
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.about-title {
    height: 100vh;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    position: relative;
    align-items: center;
}

.about-text-p-big {
    font-size: var(--medium-texts);
}

.about-header-title {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-style: italic;
    font-size: var(--medium-texts);
}

.about-line-left {
    width: 2.5vmin;
    height: 50vmin;
    background-color: black;
}

.about-line-2 {
    width: 1.5vmin;
    height: 40vmin;
    background-color: black;
}

.projects {
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: pink;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(255, 100, 126) 0%, rgb(255, 121, 143) 40%,  pink 60%, white 100%);
    background-size: cover;
}

.projects-container {
    max-width: 1000px;
    position: relative;
    width: 100%;
}

.test {
    position: fixed;
    top: 5;
    left: 5;
    z-index: 2;
}

/* .projects-container::before {
    content: '';
    position: absolute;
    width: 100%;
    background-color: white;
    height: 100%;
    clip-path: circle(50vmax at 50% 50%);
} */

.projects-title {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    gap: 2rem;
    width: 100%;
    flex-direction: column;
    margin-top: 80px;
    text-align: center;
}

.project-img {
    width: 100%;
    height: 40vh;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-btns{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.project-btn {
    font-size: 1rem;
}

.projects-img-1 {
    position: absolute;
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 66% 18%, 100% 14%, 30% 5%, 0 31%, 0 15%);
    width: 100%;
    height: 30%;
    background-color: var(--pink);
}

.projects-btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

/* .contact-title {
    margin-bottom: 15vmin;
} */

.big-letters {
    display: flex;
    position: relative;
    z-index: 2;
    font-weight: bold;
}

.big-letters-container-home {
    /* width: 100%; */
    font-size: 10vmin;
    position: relative;
    overflow: hidden;
    height: var(--medium-texts);
    background-color: pink;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px black;
}

.big-letters-container {
    width: 100%;
    font-size: 16vmin;
    position: relative;
    margin-top: 30vmin;
}

.big-letters-container-home-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: upAndDown 12s infinite ease-in-out;
}

.neon {
    font-family: loveGlitch;
    color: black;
    font-size: var(--medium-texts);
}

@keyframes upAndDown {
    0%, 100%  {
        transform: translate3d(0, 0, 0);
    }
    16%, 84% {
        transform: translate3d(0, -25%, 0);
    }
    32%, 64%  {
        transform: translate3d(0,  -50%, 0);
    }
    48% {
        transform: translate3d(0,  -75%, 0);
    }
}

.super-big-letters-projects {
    position: absolute;
    top: -35vmin;
    font-size: 50vmin;
    left: -20vmin;
    color: rgba(255, 164, 0, 0.5);
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.about-main-text {
    visibility: hidden;
}

.animateClipPath {
    animation: animateWithClippath 2s ease-in-out forwards;   
}

@keyframes animateWithClippath {
    from {
        visibility: visible;
        clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
    }
    to {
        visibility: visible;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

.packMan-div {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.packMan-btn-container {
    flex: 1;
    position: relative;
}

.packMan-btn {
    position: absolute;
    width: 100%;
    display: flex;
    gap: .4vmin;
    justify-content: start;
    z-index: 1;
    background-color: transparent;
    outline: none;
    border: transparent;
}

.packMan-letter {
    /* display: block; */
    padding: 1.5vmin;
    pointer-events: none;
    font-size: 5vmin;
    /* border: .5px solid black; */
    background-color: var(--pink);
}

.packMan {
    margin-left: 5vmin;
    width: 0px;
    height: 0px;
    border-right: 15vmin solid yellow;
    border-top: 15vmin solid yellow;
    border-left: 15vmin solid yellow;
    border-bottom: 15vmin solid yellow;
    border-top-left-radius: 15vmin;
    border-top-right-radius: 15vmin;
    border-bottom-left-radius: 15vmin;
    border-bottom-right-radius: 15vmin;
    clip-path: polygon(100% 0, 100% 0%, 54% 51%, 100% 100%, 100% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);   
    position: relative;
}

.packMan::before {
    content: '';
    position: absolute;
    width: 3vmin;
    height: 3vmin;
    background-color: black;
    border-radius: 30%;
    top: -5vmin;
    left: -5vmin;
}

.animatePackman {
    animation: packmanEating .3s infinite,
    packmanMoving 1.5s forwards;
}

@keyframes packmanEating{
    0%, 100% {
        clip-path: polygon(100% 0, 100% 0%, 54% 51%, 100% 100%, 100% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);   
    }
    50% {
        clip-path: polygon(100% 0, 100% 50%, 54% 51%, 100% 50%, 100% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
    }
}

@keyframes packmanMoving {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translate(100vw);
    }
}

.hideLetter {
    animation: hideLetter forwards;
}
@keyframes hideLetter {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.packMan-line {
    width: 100%;
    top: 18vmin;
    height: 1vmin;
    position: absolute;
    background-color: violet;
    opacity: .5;
}

.packMan-div-about {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.packMan-line-about {
    width: 100%;
    top: 18vmin;
    height: 1vmin;
    position: absolute;
    background-color: violet;
    opacity: .5;
}


/* contact */
.contact {
    display: flex;
    justify-content: center;
    background-color: orange;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}

.contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1000px;
}
