.nav {
    display: flex;
    justify-content: end;
    position: fixed;
    /* width: 100%; */
    /* z-index: -1; */
}

.menu-btn {
    position: fixed;
    top: 5vmin;
    right: 5vmin;
    z-index: 999;
}

.menu-btn:hover,
.home-btn:hover {
    transform: scale(1.1);
}

.logo {
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

.canvas {
    height: 100vh;
}

.home-btn {
    position: fixed;
    top: 6vmin;
    left: 6vmin;
    z-index: 999;
    text-shadow: 0px 0px 5px 1px black;
}