.project {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(255, 164, 0, 0);
    z-index: 1;
    background-color: rgba(255, 192, 203, .5);
    padding: 0.5rem;
    border-radius: 10px;
    margin-top: 15vmin;
}

.project::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-color: pink; */
    z-index: -1;
    /* clip-path: polygon(50% 0%, 83% 12%, 0 64%, 94% 78%, 68% 100%, 32% 100%, 0 70%, 0% 43%, 17% 12%); */
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.project-text {
    /* font-weight: bold; */
}

.project-title {
    display: grid;
    justify-items: center;
}

.project-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.projects-menu {
    background-color: var(--white);
    display: flex;
    justify-content: center;
}

.projects-menu-container {
    width: 100%;
    max-width: 1000px;
}

.projectsMenuAnimation {
    /* animation: animateProjects 2s forwards ease-in-out; */
}

.projects-menu {
    /* background-color: red;
    clip-path: circle(50% at 50% 50%); */
    position: relative;
}

.projects-menu::before {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: circle(50% at 50% 50%);
    animation: animateProjects 4s forwards ease-in-out;
}

/* @media only screen and (min-width: 800px) {
    @keyframes animateProjects {
        0% {
            clip-path: inset(0 0 100% 0);
            background-color: orange;
        }
        30% {
            clip-path: inset(0 0 0 0);
            background-color: orange;
        }
        60% {
            clip-path: inset(0 0 100% 0);
            background-color: orange;
        }
        80% {
            clip-path: circle(50% at 50% -50%);
            background-color: pink;
        }
        100% {
            clip-path: circle(50% at 50% -22%);
            background-color: pink;
        }
    }    
}
@media only screen and (max-width: 800px) {
    @keyframes animateProjects {
        0% {
            clip-path: inset(0 0 100% 0);
            background-color: orange;
        }
        30% {
            clip-path: inset(0 0 0 0);
            background-color: orange;
        }
        60% {
            clip-path: inset(0 0 100% 0);
            background-color: orange;
        }
        80% {
            clip-path: circle(50% at 50% -50%);
            background-color: pink;
        }
        100% {
            clip-path: circle(50% at 50% -22%);
            background-color: pink;
        }
    }    
} */

@keyframes animateProjects {
    0% {
        clip-path: inset(0 0 200vmax 0);
        background-color: orange;
    }
    30% {
        clip-path: inset(0 0 0vmax 0);
        background-color: orange;
    }
    60% {
        clip-path: inset(0 0 200vmax 0);
        background-color: orange;
    }
    80% {
        clip-path: circle(100vmax at 50% -100vmax);
        background-color: pink;
    }
    100% {
        clip-path: circle(100vmax at 50% -70vmax);
        background-color: pink;
    }
}    

.project-text {
    font-size: 5vmin;
}