.project {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    align-items: center;
}

/* .projects-menu-date {
    position: fixed;
    z-index: 1;
} */
.projects-menu-container {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    position: relative;
    /* display: grid; */
    /* justify-items: center; */
}

.projects-date-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date {
    position: absolute;
    height: 100%;
    /* z-index: 1; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-span {
    width: 100%;
    position: absolute;
    z-index: 2;
    padding: 0rem 1rem;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.typing-erase {
    display: flex;
    width: 100%;
    overflow: hidden;
    border-right: 1px solid black;
    animation: erase 4s steps(50, end) infinite, blinkCaret .5s step-end infinite;
}
  
@keyframes hide {
    0% { opacity: 1 }
    /* 50% { width: 100% } */
    100% { opacity: 0 }
}

/* The type and erase effect */
@keyframes erase {
    0% { width: 100 }
    40% { width: 0% }
    90%, 100% { width: 100 }
  }


.project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.projects-menu-item {
    overflow: hidden;
    width: 100%;
    position: relative;
    border: 2px solid black;
    border-radius: 1rem;
}

.slide {
    position: relative;
    width: 100%;
    height: 100%;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
}

.front {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: beige;
    padding: 1rem;
    text-align: center;
}
.back {
    z-index: 2;
}

.flip {
    animation-name: flip; 
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;    
}

.flip-back {
    animation-name: flip-back;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes flip{
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes flip-back{
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0px);
    }
}

.flip-front {
    animation-name: flip-front; 
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;    
}

.flip-back-front {
    animation-name: flip-back-front;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes flip-front{
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes flip-back-front{
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-100%);
    }
}

.img-containers {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 30vmin;
    max-width: 1000px;
    width: 100%;
    gap: 1rem;
    height: 100%;
}

.align-right {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.align-left {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.projects-menu-landing {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: pink;
    /* background: linear-gradient(to bottom, rgb(255, 61, 94) 80%, rgb(255, 92, 119) 100%);
    background-position: center;
    background-color: pink;
    background-repeat: no-repeat;
    background-size: cover; */
}

.timeline-container {
    background-color: pink;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 1rem;
    grid-auto-rows: 300px;
    gap: 2rem;
}

.projects-menu-item-item-texts {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 0rem 1rem;
}

.animateTexts {
    transform: translateY(-1000px);
    animation: animateText 4s forwards ease-in-out;
    font-family: bmlmelody, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: loveGlitch;
    src: url('../fonts/BETA/LoveGlitchPersonalUseRegular-vmEyA.ttf');
}

.txt-1{
    animation-delay: .3s;
    font-size: 10vmin;
    color: black;
    font-family: loveGlitch system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.txt-2 {
    animation-delay: 0s;
    font-size: 18vmin;
    font-style: italic;
    color: black;
}
.txt-3 {
    font-size: 13vmin;
    animation-delay: .2s;
    color: black;
}
.txt-4{
    color: black;
    animation-delay: .5s;
    font-size: 15vmin;
    font-style: italic;
    /* font-weight: bold; */
}
.txt-5{
    color: black;
    animation-delay: .8s;
    font-size: var(--small-texts);
    font-style: italic;
    font-weight: bold;
}

.long-txt {
    color: black;
    font-size: var(--small-texts);
    padding: 1rem;
    width: 100%;
    max-width: 800px;
    font-weight: bold;
    line-height: 3vmax;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.showLetter {
    animation: showLetter forwards .01s;
    /* animation-delay: 4s; */
}

@keyframes showLetter {
    from {
        visibility: hidden;
    }
    to {
        visibility: visible;
    }
}

@keyframes animateText {
    0%, 100% {
        transform: translateY(-150%);
    }
    30%, 70% {
        transform: translateY(0px);
    }
}

.projects-menu-landing-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    position: absolute; 
}

.img-container {
    /* position: absolute; */
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

/* @media only screen and (max-width: 900px) {
    .c-1 {
        width: 70vmin;
        top: 0vmax;
        left: 2vmax;
    }
    .c-2 {
        width: 70vmin;
        z-index: 2;
        left: 2vmax;
        top: 80vmax;
    }
    .c-3 {
        width: 45vmin;
        right: 2vmax;
        top: 100vmax;
    }
    .text-2 {
        z-index: 3;
        font-size: var(--small-texts);
        display: flex;
        flex-direction: column;
        gap: .5rem;
        top: 30vmax;
        right: 2vmax;
    }        
}

@media only screen and (min-width: 900px) {
    .c-1 {
        width: 70vmin;
        top: 0vmax;
        left: 2vmax;
    }
    .c-2 {
        width: 70vmin;
        z-index: 1;
        left: 10vmax;
        top: 40vmax;
    }
    .c-3 {
        width: 45vmin;
        right: 30vmax;
        top: 50vmax;
    }
    .text-2 {
        z-index: 3;
        font-size: var(--small-texts);
        display: flex;
        flex-direction: column;
        gap: .5rem;
        top: 10vmax;
        right: 5vmax;
    }
} */

.text-container {
    width: 70vmin;
    height: max-content;
    position: absolute;
    padding: .5rem;
    background-color: white;
    border: .2rem solid white;
    border-radius: 1rem;
}

.project-timeline-name {
    /* background-color: red; */
    text-align: center;
}

.project-description-texts {
    font-size: var(--small-texts);
}

.scroll {
    /* transform: translate(5px); */
}

.project-btns {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    /* background-color: white; */
    border-radius: 10px;
    justify-items: center;
}

.projects-menu {
    background-color: pink;
    position: relative;
    /* background-color: var(--white); */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* justify-content: center; */
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.projects-menu-outer-container {
    width: 100%;
    position: relative;
    background-color: orange;
    display: flex;
    justify-content: center;
}

.projects-menu-inner-container {
    width: 100%;
    gap: 1rem;
    padding: 0.5rem;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vmin;
}

.arrow-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.arrow {
    width: 10vmin;
    height: 10vmin;
    background-color: black;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    transform: rotate(90deg);
    animation: animateArrow 4s infinite ease-in-out;
}

@keyframes animateArrow {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
.projects-menu-outer-container::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--white);
}

@media only screen and (min-width: 800px) {
    @keyframes animateProjectsMenuContainer {
        0% {
            clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 72%, 100% 100%, 0 100%, 0 80%, 0% 43%, 0 0);
        }
        100% {
            clip-path: polygon(50% 0%, 83% 12%, 95% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 5% 44%, 17% 12%);
        }
    }

    .projects-menu-outer-container::before {
        animation: animateProjectsMenuContainer 1s ease-in-out forwards;     
    }
}

@media only screen and (max-width: 800px) {
    @keyframes animateProjectsMenuContainer {
        0% {
            clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 72%, 100% 100%, 0 100%, 0 80%, 0% 43%, 0 0);
        }
        100% {
            clip-path: polygon(49% 5%, 83% 12%, 100% 43%, 94% 78%, 68% 92%, 30% 92%, 6% 78%, 0% 43%, 17% 12%);      
        }
    }

    .projects-menu-outer-container::before {
        animation: animateProjectsMenuContainer 1s ease-in-out forwards;     
    }
}
.project-preview {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: .5rem;
    max-width: 800px;
}

.project-img-container {
    width: 100%;
    height: 65vmin;
    padding: .1rem;
    border-radius: .5rem;
    background-color: black;
    position: relative;
}

.project-preview-img {
    width: 100%;
    height: 100%;
    opacity: .9; 
    border-radius: .5rem;
}

.project-img-container::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border: 1px solid black;
    border-radius: .5rem;
    content: ' ';
    top: 10vmax;
    left: -3vmax;
    z-index: -1;
}

.project-description {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    transform: translateY(-12vmin);
    font-size: 1rem;
}

.project-info {
    border-radius: .5rem;
    background-color: pink;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 10px 10px 20px 5px black;
}

.project-title {
    border-radius: .5rem;
    background-color: rgb(255, 119, 142);
    font-weight: bold;
    max-width: 55vmin;
    width: 100%;
    padding: .5rem 1rem;
    text-align: center;
}

.toBlack {
    animation: animateProjectsContainer 1s forwards ease-in-out;
}

@keyframes animateProjectsContainer {
    0% {
        background-color: var(--white)
    }
    100% {
        background-color: rgb(255, 230, 234);
    }
}

